<!DOCTYPE html>
<html>
  <head>
    <title>BenchBNB</title>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key="+ENV['YOUTUBE_API_KEY']%>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
