<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>

    <footer>
      This is our 99 Cats site. Please feel free to browse!
      <%= yield :footer %>
    </footer>

  </body>
</html>
