<h1><%= @cat.name  %></h1>
<table>
  <tr>
    <td>Birthday:</td>
    <td><%= @cat.birth_date %></td>
  </tr>

  <tr>
    <td>Age:</td>
    <td><%= @cat.age %></td>
  </tr>

  <tr>
    <td>Sex:</td>
    <td><%= @cat.sex %></td>
  </tr>

  <tr>
    <td>Color:</td>
    <td><%= @cat.color %></td>
  </tr>
</table>
<br>
<label for="cat-description">Description:</label>
<p><%= @cat.description %></p>

<br><br>

<h3>Current Request:</h3>

<% @current_requests.each do |request| %>
  <table>
    <% if request.pending? %>

        <%= button_to 'APPROVED' , approve_cat_rental_request_url(request) %>
        <%= button_to 'DENIED' , deny_cat_rental_request_url(request) %>

    <% else %>
      <tr>
        <td>Status: </td>
        <td> <%= request.status %> </td>
      </tr>
    <% end %>

    <tr>
      <td>Start Date: </td>
      <td> <%= request.start_date %></td>
    </tr>

    <tr>
      <td>End Date</td>
      <td> <%= request.end_date %></td>
    </tr>

  </table>
  <br><br>
<% end %>

<h3><%= link_to 'edit', edit_cat_url(@cat) %></h3>
<h3><%= link_to 'Back to index', cats_url %></h3>
